body {
  background-color: $background-color;
}

.default-font-style {
  color: $text-color;
  font: {
    family: $font-family-sans-serif;
    size: 1.5rem;
    style: normal;
    weight: 500;
  }
  line-height: normal;
}

.secondary-font-style {
  color: $primary-color;
  text-align: right;
  font: {
    size: 2rem;
    weight: 700;
  }
}

.h1-font-style {
  font: {
    weight: 700;
  }
}

.title::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: $primary-color;
  border-radius: 50%;
  margin-right: map-get($space, m);
  vertical-align: middle;
}

.btn-primary {
  color: $pure-white;
  background-color: $primary-color;
  box-shadow: $button-shadow;
  font-size: 1.6rem;

  &:hover {
    background-color: darken($primary-color, 3%);
    box-shadow: none;
  }
}

.card {
  background-color: $pure-white;
  box-shadow: $card-shadow;
}

.overlay {
  background-color: rgb(255 255 255 / .7);
  opacity: 0;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.overlay-text {
  font: {
    size: 5rem;
    weight: 700;
  }
}