<div class="grid">
  <div class="card">
    <img src="./assets/images/FotoEntrepa.webp" alt="Xapata de la carta" class="full-width">
    <div class="layout-row-auto padding-small">
      <div class="layout-column-small">
        <h3>Nom del plat</h3>
        <p>Ingredients</p>
      </div>
      <p class="secondary-font-style">8.99€</p>
    </div>
  </div>

  <div class="card">
    <img src="./assets/images/FotoEntrepa.webp" alt="Xapata de la carta" class="full-width">
    <div class="layout-row-auto padding-small">
      <div class="layout-column-small">
        <h3>Nom del plat</h3>
        <p>Ingredients</p>
      </div>
      <p class="secondary-font-style">8.99€</p>
    </div>
  </div>

  <div class="card">
    <img src="./assets/images/FotoEntrepa.webp" alt="Xapata de la carta">
    <div class="layout-row-auto padding-small">
      <div class="layout-column-small">
        <h3>Nom del plat</h3>
        <p>Ingredients</p>
      </div>
      <p class="secondary-font-style">8.99€</p>
    </div>
  </div>

  <div class="card">
    <img src="./assets/images/FotoEntrepa.webp" alt="Xapata de la carta">
    <div class="layout-row-auto padding-small">
      <div class="layout-column-small">
        <h3>Nom del plat</h3>
        <p>Ingredients</p>
      </div>
      <p class="secondary-font-style">8.99€</p>
    </div>
  </div>

  <div class="card">
    <img src="./assets/images/FotoEntrepa.webp" alt="Xapata de la carta">
    <div class="layout-row-auto padding-small">
      <div class="layout-column-small">
        <h3>Nom del plat</h3>
        <p>Ingredients</p>
      </div>
      <p class="secondary-font-style">8.99€</p>
    </div>
  </div>

  <div class="card">
    <img src="./assets/images/FotoEntrepa.webp" alt="Xapata de la carta">
    <div class="layout-row-auto padding-small">
      <div class="layout-column-small">
        <h3>Nom del plat</h3>
        <p>Ingredients</p>
      </div>
      <p class="secondary-font-style">8.99€</p>
    </div>
  </div>
</div>