<div class="grid">
  <div class="card layout-column-small padding-small">
    <h3>Reviwer name</h3>
    <p>10/09/2024</p>
    <P>Review text</P>
  </div>

  <div class="card layout-column-small padding-small">
    <h3>Reviwer name</h3>
    <p>10/09/2024</p>
    <P>Review text</P>
  </div>

  <div class="card layout-column-small padding-small">
    <h3>Reviwer name</h3>
    <p>10/09/2024</p>
    <P>Review text</P>
  </div>

  <div class="card layout-column-small padding-small">
    <h3>Reviwer name</h3>
    <p>10/09/2024</p>
    <P>Review text</P>
  </div>
</div>
