@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$primary-color: #0C6504;
$background-color: #FFFDF6;
$primary-color-light: color.scale($primary-color, $lightness: 80%);
$text-color: #333333;
$text-color-light: color.scale($text-color, $lightness: 50%);
$pure-white: #ffffff;

$desktopBreakpoint: 789px;
$largeDesktopBreakpoint: 1800px;
